/*----------------------------------------
  resource.rc
  $Date: 2003/01/13 02:56:20 $
  Copyright (C) 2000 - 2003 Masaki Suketa
------------------------------------------*/
#include <windows.h>
#include "resource.h"
#include "version.h"

RUBYICON ICON DISCARDABLE "ruby.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,4,3
 PRODUCTVERSION 0,0,4,3
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "000004b0"
  BEGIN
   VALUE "FileDescription",  "RubyWin - IDE of Ruby\0"
    VALUE "FileVersion",      "0.0.4.3\0"
   VALUE "InternalName",     "RubyWin.exe\0"
   VALUE "LegalCopyright",   "Copyright (C) 1999-2003 Masaki Suketa\0"
   VALUE "OriginalFilename", "RubyWin.exe\0"
   VALUE "ProductName",      "RubyWin\0"
    VALUE "ProductVersion",   "0.0.4.3\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0, 0x4b0
 END
END

RUBYWINMENU MENU DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl+N",		IDM_NEW
    MENUITEM "&Open...\tCtrl+O",	IDM_OPEN
    MENUITEM SEPARATOR
    MENUITEM "E&xit",			IDM_EXIT
  END

  POPUP "&Ruby"
  BEGIN
    MENUITEM "&IRB...",                 IDM_IRB
    MENUITEM "Run Ruby File...",        IDM_RUN_FILE
  END

  POPUP "&Help"
  BEGIN
    MENUITEM "&Version...",		IDM_VERSION
  END
END

RUBYWINDOCMENU MENU DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl+N",		IDM_NEW
    MENUITEM "&Open...\tCtrl+O",	IDM_OPEN
    MENUITEM "&Close",			IDM_CLOSE
    MENUITEM "&Save\tCtrl+S",           IDM_SAVE
    MENUITEM "Save &As...",             IDM_SAVE_AS
    MENUITEM SEPARATOR
    MENUITEM "E&xit",			IDM_EXIT
  END

  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",           IDM_UNDO
    MENUITEM "&Redo",                   IDM_REDO
    MENUITEM SEPARATOR
    MENUITEM "Cu&t\tCtrl+X",            IDM_CUT
    MENUITEM "&Copy\tCtrl+C",           IDM_COPY
    MENUITEM "&Paste\tCtrl+V",          IDM_PASTE
    MENUITEM "&Delete\tDel",            IDM_DELETE
    MENUITEM SEPARATOR
    MENUITEM "Select &All\tCtrl+A",     IDM_SELECT_ALL
  END

  POPUP "&Search"
  BEGIN
    MENUITEM "&Find...",                IDM_FIND
    MENUITEM "Find &Next\tF3",		IDM_FIND_NEXT
    MENUITEM "&Replace...",		IDM_REPLACE
    MENUITEM "Replace Next\tF4",	IDM_REPLACE_NEXT
  END

  POPUP "&Ruby"
  BEGIN
    MENUITEM "&Eval Buffer\tCtrl+E",     	IDM_EVAL_BUFFER
    MENUITEM "Eval Buffer with ARGV...",	IDM_EVAL_WITH_ARGV
    MENUITEM "Eval Selection(&J)\tCtrl+J",	IDM_EVAL_SELECT
    MENUITEM "Check Syntax",             	IDM_CHECK_SYNTAX
    MENUITEM "&IRB...\tCtrl+I",          	IDM_IRB
    MENUITEM "&Run File...\tCtrl+R",     	IDM_RUN_FILE
    MENUITEM "Console...",               	IDM_CONSOLE
    MENUITEM "Split Console",                   IDM_SPLIT_CONSOLE
  END

  POPUP "&Tool"
  BEGIN
    MENUITEM "&Font...",                IDM_FONT
    MENUITEM "Text &Color...",		IDM_SET_TEXT_COLOR
    MENUITEM "&Back Color...",          IDM_SET_BACK_COLOR
    MENUITEM "View &Line",              IDM_VIEW_LINE
  END

  POPUP "&Window"
  BEGIN
    MENUITEM "&Cascade",		IDM_CASCADE
    MENUITEM "Tile &Horizontal",	IDM_TILE_HORI
    MENUITEM "Tile &Vertical",		IDM_TILE_VERT
    MENUITEM "&Arrange Icon",		IDM_ARRANGE
  END

  POPUP "&Help"
  BEGIN
    MENUITEM "&Version...",		IDM_VERSION
  END
END

RUBYWINCONTEXTMENU MENU DISCARDABLE
BEGIN
  POPUP "DUMMY"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",           IDM_UNDO
    MENUITEM "&Redo",                   IDM_REDO
    MENUITEM SEPARATOR
    MENUITEM "Cu&t\tCtrl+X",            IDM_CUT
    MENUITEM "&Copy\tCtrl+C",           IDM_COPY
    MENUITEM "&Paste\tCtrl+V",          IDM_PASTE
    MENUITEM "&Delete\tDel",            IDM_DELETE
    MENUITEM SEPARATOR
    MENUITEM "Select &All\tCtrl+A",     IDM_SELECT_ALL
    MENUITEM SEPARATOR
    MENUITEM "&Eval Buffer\tCtrl+E",     	IDM_EVAL_BUFFER
    MENUITEM "Eval Buffer with ARGV...",	IDM_EVAL_WITH_ARGV
    MENUITEM "Eval Selection(&J)\tCtrl+J",	IDM_EVAL_SELECT
    MENUITEM "Check Syntax",             	IDM_CHECK_SYNTAX
  END
END

RUBYWINACCEL ACCELERATORS DISCARDABLE
BEGIN
  "N",		IDM_NEW,		VIRTKEY, CONTROL, NOINVERT
  "O",		IDM_OPEN,		VIRTKEY, CONTROL, NOINVERT
  "S",		IDM_SAVE,		VIRTKEY, CONTROL, NOINVERT
  VK_F3,	IDM_FIND_NEXT,		VIRTKEY, NOINVERT
  VK_F4,	IDM_REPLACE_NEXT,	VIRTKEY, NOINVERT
  "E",		IDM_EVAL_BUFFER,	VIRTKEY, CONTROL, NOINVERT
  "J",		IDM_EVAL_SELECT,	VIRTKEY, CONTROL, NOINVERT
  "I",		IDM_IRB,		VIRTKEY, CONTROL, NOINVERT
  "R",		IDM_RUN_FILE,		VIRTKEY, CONTROL, NOINVERT
END

// VersionDLG 
VERSIONDLG DIALOG DISCARDABLE 10, 10, 160, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RubyWin Version"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "", IDC_ST_RUBYWIN_VERSION, 10, 5, 60, 12
  LTEXT "Copyright (C) 1999-2003 Masaki Suketa", IDC_STATIC, 10, 17, 150, 12
  LTEXT "", IDC_ST_RUBY_VERSION, 10, 35, 130, 12
  LTEXT "", IDC_ST_RUBY_COPYRIGHT, 10, 47, 150, 12
  LTEXT "", IDC_ST_SCILEXER_VERSION, 10, 65, 150, 12
  LTEXT "", IDC_ST_SCILEXER_COPYRIGHT, 10, 77, 150, 12
  LTEXT "Icon designed by PiaZ.", IDC_STATIC, 10, 95, 90, 12
  LTEXT "Copyright (C) 1999-2000 PiaZ.", IDC_STATIC, 10, 107, 120, 12
  DEFPUSHBUTTON "OK", IDOK, 60, 130, 30, 14
END

// ARGV DLG
ARGVDLG DIALOG DISCARDABLE 10, 10, 250, 52
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Eval Buffer with ARGV"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "ARGV", IDC_STATIC, 10, 7, 24, 14
  COMBOBOX IDC_CMB_ARGV, 34, 5, 200, 70, CBS_DROPDOWN | WS_VSCROLL
  DEFPUSHBUTTON "0K", IDOK, 10, 35, 40, 14
  PUSHBUTTON    "CANCEL", IDCANCEL, 65, 35, 40, 14 
END

// FIND Dialog
FINDDLG DIALOG DISCARDABLE 10, 10, 250, 100
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "Find", IDC_STATIC, 10, 7, 24, 14
  COMBOBOX IDC_CMB_FIND_STR, 34, 5, 200, 70, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
  AUTOCHECKBOX "Match Case", IDC_CHK_MATCH_CASE, 34, 25, 60, 14
  AUTOCHECKBOX "Whole Word", IDC_CHK_WHOLE_WORD, 34, 39, 60, 14
  DEFPUSHBUTTON "0K", IDOK, 34, 80, 40, 14
  PUSHBUTTON    "CANCEL", IDCANCEL, 80, 80, 40, 14 
END

// REPLACE Dialog
REPLDLG DIALOG DISCARDABLE 10, 10, 250, 100
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "Find", IDC_STATIC, 10, 7, 24, 14
  COMBOBOX IDC_CMB_FIND_STR, 40, 5, 200, 70, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
  LTEXT "Replace", IDC_STATIC, 10, 24, 30, 14
  COMBOBOX IDC_CMB_REPL_STR, 40, 22, 200, 70, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
  AUTOCHECKBOX "Match Case", IDC_CHK_MATCH_CASE, 40, 42, 60, 14
  AUTOCHECKBOX "Whole Word", IDC_CHK_WHOLE_WORD, 40, 56, 60, 14
  DEFPUSHBUTTON "0K", IDOK, 40, 80, 40, 14
  PUSHBUTTON    "CANCEL", IDCANCEL, 85, 80, 40, 14 
END

// TEXTCOLOR Dialog
TEXTCOLORDLG DIALOG DISCARDABLE 10, 10, 130, 180
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Text Color"
FONT 8, "MS Sans Serif"
BEGIN
  PUSHBUTTON   "Default ...", IDC_PB_TEXTCOLOR_DEFAULT, 60, 7, 60, 14
  PUSHBUTTON   "Comment ...", IDC_PB_TEXTCOLOR_COMMENT, 60, 23, 60, 14
  PUSHBUTTON   "Number ...", IDC_PB_TEXTCOLOR_NUMBER, 60, 39, 60, 14
  PUSHBUTTON   "String ...", IDC_PB_TEXTCOLOR_STRING, 60, 55, 60, 14
  PUSHBUTTON   "'String' ...", IDC_PB_TEXTCOLOR_SSTRING,  60, 71, 60, 14
  PUSHBUTTON   "Keyword ...", IDC_PB_TEXTCOLOR_KEYWORD, 60, 87, 60, 14
  PUSHBUTTON   "Class ...", IDC_PB_TEXTCOLOR_CLASSNAME, 60, 103, 60, 14
  PUSHBUTTON   "Method ...", IDC_PB_TEXTCOLOR_METHOD, 60, 119, 60, 14
  PUSHBUTTON   "Operator ...", IDC_PB_TEXTCOLOR_OPERATOR, 60, 135, 60, 14
  DEFPUSHBUTTON "0K", IDOK, 10, 160, 40, 14
  PUSHBUTTON    "CANCEL", IDCANCEL, 60, 160, 40, 14 
END
