<% standard_form :post, @post do |f| %>
  <%= f.text_field :name %>
  <%= f.date_select :start_date, :label => "Date" %>
  <%= f.text_area :body, :label => "Details" %>
  <%= standard_submit %>
<% end %>

