<center>
<h1><u>Home page</u></h1>
<hr/>
<br>
<p><font color="white"><b>Details of user and office<b></font></p>
<center>
<table border=0px>
<tr>
<td width="200px">
<font color="yellow"><%= link_to "User details", users_path %></font>
</td>
<td width="250px" align="right">
<font color="yellow"><%= link_to "Office details", offices_path %></font>
</td>
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr/>
</center>

