<!DOCTYPE html>
<html>
<head>
  <title>Static</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body bgcolor="gray">
<MARQUEE bgcolor="aqua">
Search for details 
</MARQUEE>



<%= yield %>

</body>
</html>
