<center>
<h1><font color="purple">Static content</font></h1>
<hr/>
<table border=1px>
<tr>
<td bgcolor="pink"><h4>Name:</h4></td><td bgcolor="pink"><%= @name %><br/></td>
</tr>
<tr>
<td bgcolor="pink"><h4>Qualification:</h4></td><td bgcolor="pink"><%= @qualification %><br/></td>
</tr>
<tr>
<td bgcolor="pink"><h4>Station:</h4></td><td bgcolor="pink"><%= @station %><br/></td>
</tr>
</table>
<hr/>
<%= @left_sidebar %>
<img src="static/public/image/mybg.jpg">
</center>

